@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}
.turkey-breast, .lasagna, .flan{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: ;   
    margin: 1em; 
}
h1, h2{
    margin-left: 1em;
}
.polaroid{
    width: 80%;
    background-color: white;
    border-radius: 16px;
    padding-bottom: 1em;
    margin: 2em;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
p{
    margin: 1rem;
}

.text-format{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.ingredients, .directions{
    align-self: center;
}